@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?ldeylt');
	src: url('../fonts/icomoon.eot?ldeylt#iefix')
		format('embedded-opentype'), url('../fonts/icomoon.ttf?ldeylt')
		format('truetype'), url('../fonts/icomoon.woff?ldeylt') format('woff'),
		url('../fonts/icomoon.svg?ldeylt#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-vk:before {
	content: "\e907";
}

.icon-youtube:before {
	content: "\e900";
}

.icon-twitter:before {
	content: "\e901";
}

.icon-pencil:before {
	content: "\e902";
}

.icon-cross:before {
	content: "\e903";
}

.icon-checkmark:before {
	content: "\e904";
}

.icon-facebook:before {
	content: "\e905";
}

.icon-linkedin2:before {
	content: "\e906";
}

* {
	box-sizing: border-box;
}

input:focus, button:focus, select:focus {
	outline-offset: 0;
	outline: 0;
}

label, input {
	display: inline-block;
	vertical-align: bottom;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3 {
	margin: 5px 0;
}

img {
	width: 100%;
	height: auto;
}

p {
	text-align: left;
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.wrapper {
	margin: 0 auto;
	padding-bottom: 40px;
	height: 100vh;
	overflow: auto;
}

.container {
	width: 80%;
	margin: 0 auto;
	min-width: 910px;
}

.container:after {
	content: '';
	display: block;
	clear: both;
}

.wrapper--login {
	background: url(../images/bg-main.png);
	background-size: cover;
}

.wrapper--base {
	background: #e5e5e5 url(../images/bg.png) 100% 90% no-repeat;
}
/*headings*/
.heading {
	font-size: 2rem;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
}

.heading--primary {
	color: #558b2f;
}

.heading--center {
	display: inherit;
	text-align: center;
}

.heading--red{
	color: #cc0000;
}
.heading--orange{
	color: #FF7300;
}

.name {
	text-align: center;
	display: block;
}

.name--left {
	text-align: left;
	display: block;
}
/*-----------*/
/*footer*/
.footer {
	background-color: #263238;
	width: 100%;
	height: 30px;
	padding: 5px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.copyright {
	float: left;
}

.copyright__text {
	color: #558b2f;
	font-style: italic;
	font-size: 0.8rem;
}

.social {
	overflow: hidden;
	color: #fff;
	text-align: right;
}

.social__text {
	font-size: 0.9rem;
}

.social__link {
	color: #fff;
	margin: 0 5px;
}

.social__link:hover {
	color: #558b2f;
	text-decoration: none;
}
/*-----------*/
/*header*/
.header {
	padding-top: 10px;
	text-align: right;
}

.header h1 {
	margin-top: 0;
	font-size: larger;
	display: inline-block;
	color: green;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.logo {
	width: 125px;
	padding-top: 20px;
	text-align: center;
}

.logo--small {
	width: 80px;
	height: 45px;
	position: absolute;
	top: 0;
	left: 45px;
	transition: left .23s;
}

.logout {
	padding: 5px;
	border: 1px solid #558b2f;
	color: #558b2f;
	display: inline-block;
}

.logout:hover {
	text-decoration: none;
}
/*----------*/
/*form */
.form--login, .form--register {
	width: 450px;
	text-align: center;
	float: right;
	margin-top: -125px;
	padding: 10px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#263238+0,263238+100&0.07+0,0.65+100 */
	background: -moz-linear-gradient(top, rgba(38, 50, 56, 0.07) 0%,
		rgba(38, 50, 56, 0.65) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(38, 50, 56, 0.07) 0%,
		rgba(38, 50, 56, 0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(38, 50, 56, 0.07) 0%,
		rgba(38, 50, 56, 0.65) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12263238',
		endColorstr='#a6263238', GradientType=0); /* IE6-9 */
	border-radius: 30px;
}

.form--register {
	width: 560px;
}

.form__group {
	margin: 15px 0;
}

.form--login h3, .form--register h3 {
	color: #fff;
}

.form--register h3 {
	font-size: 2rem;
}

.form--login label, .form--register label {
	color: #fff;
	width: 30%;
	text-align: left;
}

.form--register label {
	font-size: 1.2rem;
}

.form--login .btn {
	font-size: 1rem;
	/*width: 100px;*/
	margin: 5px;
}

.form__control {
	width: 50%;
	padding: 5px;
	border-radius: 5px;
}

.form__control:focus {
	border: 2px solid #558b2f;
}

.form:after {
	content: '';
	display: block;
	clear: both;
}

.form--adding label {
	width: 30%;
}

.form--adding input, .form--adding select {
	width: 68%;
}
/*-----------*/
/*buttons*/
.btn {
	max-width: 240px;
	text-transform: uppercase;
	font-family: Arial;
	padding: 10px;
	margin-top: 15px;
	font-size: 1.2rem;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	transition: 0.35s;
	border: 0;
	display: inline-block;
	cursor: pointer;
}

.btn--primary {
	background-color: #558b2f;
	color: #fff;
}

.btn--secondary {
	background-color: #fc593c;
	color: #fff;
}

.btn:focus {
	transform: scale(0.9, 0.9);
	border: none;
}

.btn:hover {
	text-decoration: none;
}

.icon-pencil {
	color: #558b2f;
}

.icon-cross {
	color: #fc593c;
}

.btn--empty {
	margin-top: 0;
	border-radius: 0;
	box-shadow: none;
	background-color: transparent;
}
/*---------*/
/*navigation*/
.menu {
	text-align: left;
}

.menu__hidden {
	display: block;
	position: fixed;
	list-style: none;
	padding: 10px;
	margin: 0;
	box-sizing: border-box;
	width: 200px;
	background-color: #323232;
	height: 100%;
	top: 0;
	left: -200px;
	transition: left .2s;
	z-index: 2;
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
}

.menu__hidden li {
	margin: 18px 0;
}

.menu__hidden a {
	color: #fff;
	font-size: 1.4rem;
	vertical-align: super;
}

.menu__hidden a:hover {
	text-decoration: none;
	color: #558b2f;
}

.menu__title {
	text-transform: uppercase;
	color: #558b2f;
	font-size: 2rem;
	margin-top: 0;
}

.menu__icon {
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-right: 10px;
}

.menu__hidden-ticker {
	display: none;
}

.menu__btn {
	color: #fff;
	background-color: #558b2f;
	padding: 9px 5px;
	position: fixed;
	top: 0;
	left: 0;
	cursor: pointer;
	transition: left .23s;
	z-index: 3;
	width: 45px;
	height: 45px;
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
}

.menu__btn span, .menu__btn--round span {
	display: block;
	height: 5px;
	background-color: #fff;
	margin: 5px 0 0;
	transition: all .1s linear .23s;
	position: relative;
}

.menu__btn span.first {
	margin-top: 0;
}

.menu__hidden-ticker:checked ~ .menu__btn {
	left: 155px;
}

.menu__hidden-ticker:checked ~ .logo--small {
	left: 200px;
}

.menu__hidden-ticker:checked ~ .menu__hidden {
	left: 0;
}

.menu__hidden-ticker:checked ~ .menu__btn span.first {
	-webkit-transform: rotate(45deg);
	top: 10px;
}

.menu__hidden-ticker:checked ~ .menu__btn span.second {
	opacity: 0;
}

.menu__hidden-ticker:checked ~ .menu__btn span.third {
	-webkit-transform: rotate(-45deg);
	top: -10px;
}

.menu__btn--round {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	padding: 6px;
	background-color: #484848;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	transition: .23s;
	z-index: 3;
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
}
/*----------*/
/*table description*/
.table, table {
	width: 100%;
	margin: 3px auto 15px;
	border-collapse: collapse;
	background: rgba(255, 255, 255, 0.3);
}

.item {
	background-color: #fff;
}

td, th {
	padding: 5px;
	text-align: center;
	border-top: 1px solid green;
	border-bottom: 1px solid green;
}

th {
	border-top: 2px solid green;
	border-bottom: 2px solid green;
}

.ok {
	color: #558b2f;
}

.ok:hover {
	text-decoration: none;
}
/*----------*/
/*control switchers*/
.onoff {
	position: relative;
	width: 100px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	margin: 0 auto;
}

.onoff-checkbox {
	display: none;
}

.onoff-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #FFFFFF;
	border-radius: 20px;
}

.onoff-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}

.onoff-inner:before, .onoff-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 30px;
	padding: 0;
	line-height: 30px;
	font-size: 14px;
	color: white;
	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	box-sizing: border-box;
}

.onoff-inner:before {
	content: "On";
	padding-left: 10px;
	background-color: #FFE57F;
	color: #FFFFFF;
	text-align: left;
}

.onoff-inner--option:before {
	background-color: #4dd0e1;
	/*переключатель голубого цвета*/
}

.onoff-inner:after {
	content: "Off";
	padding-right: 10px;
	background-color: #bdbdbd;
	color: #FFFFFF;
	text-align: right;
}

.onoff-switch {
	display: block;
	width: 41px;
	margin: -5.5px;
	background: #757575;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 66px;
	border: 2px solid #FFFFFF;
	border-radius: 20px;
	transition: all 0.3s ease-in 0s;
}

.onoff-checkbox:checked+.onoff-label .onoff-inner {
	margin-left: 0;
}

.onoff-checkbox:checked+.onoff-label .onoff-switch {
	right: 0px;
	background-color: #FBC02D;
}

.onoff-checkbox:checked+.onoff-label .onoff-switch--option {
	background-color: #0097a7;
	/*переключатель голубого цвета*/
}
/*--------*/
.edition {
	padding-top: 15px;
	/*border-top: 2px solid #558b2f;*/
	text-align: left;
}

.left {
	display: inline-block;
	width: 69%;
	padding-right: 10px;
	text-align: left;
}

.right {
	display: inline-block;
	width: 30%;
	padding-left: 10px;
	vertical-align: top;
	border-left: 2px solid #558b2f;
}

.checkbox {
	margin: 10px 0;
	text-align: center;
}

.checkbox div+div {
	margin-top: 10px;
}

.checkbox button {
	margin: 10px;
}

.checkbox_table {
	border-style: hidden;
	background-color: transparent;
}
.message {
	color: white;
    display: block;
}
